In [2]:
# Defining a Variable
x = 5
x

5

In [3]:
x, y = (1, 2)

In [4]:
x

1

In [5]:
y

2

In [6]:
# Integers & Floats
x1 = 5
type(x1)

int

In [7]:
type(-6)

int

In [8]:
x2 = 5.75
type(x2)

float

In [9]:
int(x2)

5

In [10]:
# Booleans
x3 = true
type(x3)

NameError: name 'true' is not defined

In [11]:
x3 = True
type(x3)

bool

In [12]:
# Strings
George

NameError: name 'George' is not defined

In [13]:
'George'

'George'

In [14]:
print('George')

George

In [15]:
x4 = 'George'
x4

'George'

In [16]:
y = 10
print(y + 'Dollars')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
print(str(y) + ' Dollars')

10 Dollars

In [19]:
"I'm fine"

"I'm fine"

In [21]:
'I\'m fine'

"I'm fine"

In [22]:
'Press "Enter"'

'Press "Enter"'

In [23]:
'Red' 'Car'

'RedCar'

In [24]:
'Red ' 'Car'

'Red Car'

In [25]:
print('Red', 'Car', 3, 5)

Red Car 3 5

In [26]:
3, 6, 9, 4.75, 'Park'

(3, 6, 9, 4.75, 'Park')

In [27]:
# Arithmetic Operators, Double Equality, Reassign Values, etc (Skipped to Functions)

In [28]:
def simple():
    print('My first function')
    
simple()

My first function

In [29]:
def plus_ten(e):
    return e + 10

plus_ten(10)

20

In [31]:
def plus__ten(e):
    result = e + 10
    return result

plus__ten(2)

12

In [32]:
# Lists

Participants = ['John', 'Leila', 'George', 'Cate']
Participants

['John', 'Leila', 'George', 'Cate']

In [34]:
Participants[1]

'Leila'

In [35]:
Participants[-2]

'George'

In [37]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'George', 'Maria']

In [39]:
del Participants[2]
Participants

['John', 'Leila']

In [40]:
Participants

['John', 'Leila']

In [42]:
Participants = ['John', 'Leila', 'George', 'Cate']
Participants[3] = 'Mickey'
Participants

['John', 'Leila', 'George', 'Mickey']

In [43]:
del Participants[1]

In [44]:
Participants

['John', 'George', 'Mickey']

In [45]:
Participants[1] = 'Georgia'

In [46]:
Participants.append('Dwayne')

In [47]:
Participants

['John', 'Georgia', 'Mickey', 'Dwayne']

In [48]:
Participants.extend(['Gina', 'Jane'])
Participants

['John', 'Georgia', 'Mickey', 'Dwayne', 'Gina', 'Jane']

In [60]:
import random

for x in Participants:
    print('Participant ' + str(x) + ' will get ' + str(random.randint(1, 20)) + ' popsicles.')

Participant John will get 11 popsicles.
Participant Georgia will get 10 popsicles.
Participant Mickey will get 16 popsicles.
Participant Dwayne will get 18 popsicles.
Participant Gina will get 7 popsicles.
Participant Jane will get 20 popsicles.

In [62]:
# List Slicing

Participants[1:3]

['Georgia', 'Mickey']

In [63]:
Participants[1:]

['Georgia', 'Mickey', 'Dwayne', 'Gina', 'Jane']

In [64]:
Participants[:1]

['John']

In [3]:
Participants = ['Georgia', 'Mickey', 'Dwayne', 'Gina', 'Jane']
Participants.index("Mickey")

1

In [4]:
Newcommers = ['Joshua', 'Leslie']

In [5]:
BiggerList = [
    Participants,
    Newcommers
]

for x in BiggerList:
    print(x)

['Georgia', 'Mickey', 'Dwayne', 'Gina', 'Jane']
['Joshua', 'Leslie']

In [7]:
BiggerList.sort()
BiggerList

[['Georgia', 'Mickey', 'Dwayne', 'Gina', 'Jane'], ['Joshua', 'Leslie']]

In [8]:
Numbers = [3, 9, 4, 1, 2, 5, 6, 7, 0]
Numbers.sort()
Numbers

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [9]:
Numbers.sort(reverse=True)
Numbers

[9, 7, 6, 5, 4, 3, 2, 1, 0]

In [10]:
# Tuples

In [14]:
# Tuple Assignment

x = (34, 76, 54)
x

(34, 76, 54)

In [15]:
y = 50, 43, 35
y

(50, 43, 35)

In [16]:
a, b, c = 3, 4, 5
b

4

In [18]:
tuples = [x, y]
tuples

[(34, 76, 54), (50, 43, 35)]

In [19]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [21]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

In [23]:
# Dictionaries [key value pairs - data storage]

In [25]:
dict = {
    'k1':'cat',
    'k2':'dog',
    'k3':'mouse',
    'k4':'fish' 
}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [26]:
dict['k3']

'mouse'

In [28]:
dict['k2']

'dog'

In [30]:
dict['k2'] = 'parrot'

In [32]:
dict['k2']

'parrot'

In [33]:
dict

{'k1': 'cat', 'k2': 'parrot', 'k3': 'mouse', 'k4': 'fish'}

In [35]:
dep_workers = {
    'dep_1': 'Peter',
    'dep_2': [
        'John', 
        'Mary'
    ]
}
dep_workers['dep_2']

['John', 'Mary']

In [37]:
Team = {}
Team['Pointing Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [38]:
Team

{'Pointing Guard': 'Dirk',
 'Shooting Guard': 'Al',
 'Small Forward': 'Sean',
 'Power Forward': 'Alexander',
 'Center': 'Hector'}

In [39]:
for x in Team:
    print(x)

Pointing Guard
Shooting Guard
Small Forward
Power Forward
Center

In [40]:
Team['Center']

'Hector'

In [41]:
print(Team.get('Coach'))

None

In [6]:
# Iterations

In [5]:
# For Loops
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
for n in even:
    print(n, end = " ") # print every element separated by a space in the same row

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
# While Loops

In [2]:
x = 0
while x <= 20:
    print (x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

In [1]:
print("hello")

hello

In [3]:
# Loops with range() function

In [ ]:
# range(start, stop, step)
#
# start = first number in the list
# stop = last value + 1
# step = distance between each two consecutive values